@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

button{
  font-family: "Poppins", sans-serif;
}

footer {
  background-color: rgb(245, 92, 71);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

footer img{
    max-width: 30px;
    margin: 5px 10px;
    cursor: pointer;
}

